*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	min-height: 100vh;
	width: 100%;
}

body{
	width: 100%;
	min-height: 100vh;
	padding: 0 0.25% 1%;
	background-color: rgb(194, 207, 226);
}

#document-head{
	display: flex;
	height: 15vw;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#document-title{
	color: rgb(0, 11, 59);
	font-size: 3.5vw;
	line-height: 4vw;
}

#document-description{
	font-size: 2vw;
	line-height: 2.5vw;
	display: inline-block;
	color: rgb(0, 11, 59);
}

nav{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 10vh;
	background-color: rgb(115, 133, 182);
	z-index: 1;
	box-shadow: 0px 30px 80px -20px;
}

nav ul{
	list-style: none;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
}

nav ul li{
	color: white;
	display: inline;
	width: 10%;
	font-size: 3vh;
	height: 100%;
	line-height: 10vh;
	text-align: center;
}

nav ul li a{
	color: white;
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 1.5vw;
	cursor: pointer;
	transition: 0.5s;
	text-decoration: none;
}

nav ul li a:hover{
	color: rgb(115, 133, 182);
	background-color: white;
}

main{
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: white;
	padding: 1% 0.25%;
	background-color: rgb(238, 238, 238);
}

#em-alta{
	position: relative;
	width: 25%;
	background-color: white;
	box-shadow: 0 0 10px 0px;
	z-index: 1;
	padding: 0 1.5%;
}

#em-alta header{
	display: flex;
	width: 100%;
	height: 7vw;
	border-bottom: 2px solid lightgray;
	align-items: center;
}

#em-alta header h1{
	font-size: 2vw;
}

#em-alta a{
	color: black;
	text-decoration: none;
	display: block;
	height: 12vw;
	border-bottom: 1px solid lightgray;
	padding: 6% 5%;
	transition: color 0.7s, background-color 0.7s;
}

#em-alta a article{
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#em-alta a article *{
	display: flex;
	width: 100%;
	text-align: left;
}

#em-alta a article h1{
	text-decoration: underline;
	font-size: 1.65vw;
	margin-bottom: 1vh;
}

#em-alta a article span{
	align-items: flex-start;
	font-size: 1.15vw;
}

#em-alta a:hover{
	color: rgb(60, 60, 60);
	background-color: rgb(200, 200, 200);
}

#feed{
	width: 70%;
}

.feed-group{
	display: flex;
	width: 100%;
	height: 18vw;
	margin-top: 3%;
}

.feed-group a{
	display flex;
	height: 100%;
	text-decoration: none;
	color: black;
	transition: 0.7s;
	background-color: white;
	overflow: hidden;
}

.feed-group a:hover{
	background-color: rgb(200, 200, 200);
}

.feed-group:first-child{
	margin-top: 5%;
}

.feed-group a article{
	flex-grow: 1;
	display: flex;
	height: 100%;
}

.feed-group a:first-child{
	box-shadow: 0 0 10px -5px;
}

.feed-group a:last-child{
	margin-left: 5%;
	margin-right: 5%;
	box-shadow: 0 0 10px -5px;
}

.feed-group:nth-of-type(3n - 2) a:first-child{
	width: 60%;
}

.feed-group:nth-of-type(3n - 2) a:last-child{
	width: 35%;
}

.feed-group:nth-of-type(3n - 1) a:first-child{
	width: 35%;
}

.feed-group:nth-of-type(3n - 1) a:last-child{
	width: 60%;
}

.feed-group:nth-of-type(3n) a:first-child{
	width: 50%;
}

.feed-group:nth-of-type(3n) a:last-child{
	width: 50%;
}

.feed-group article img{
	height: 100%;
	flex-grow: 1;
	flex-shrink: 1;
}

.feed-article-content{
	height: 100%;
	margin-left: 5%;
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.feed-article-content h1{
	color: rgb(115, 133, 182);
	font-size: 1.7vw;
}

.feed-article-content h2{
	font-size: 1.75vw;
	margin-top: 0.5vw;
}

.feed-article-content span{
	font-size: 1.3vw;
	margin-top: 0.5vw;
}